<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" verbose = "1" thread= "1">
	<test name="Pixel_2">
		<listeners>
			<listener class-name="com.test.listeners.TestListener" />
		</listeners>
		<parameter name="emulator" value="true" />
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="replace_with_device_udid" />
		<parameter name="deviceName" value="Pixel_2_API_28" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="9515" />
		<parameter name="testDataValue" value="1" /> refer JSON file
		<classes>
			<class name="com.test.tests.LoginTest"></class>
			<class name="com.test.tests.WirelessAPTest"></class>
		</classes>
	</test>
</suite> <!-- Suite -->
